body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right, #dd6883, #deaeb9);
  


}
.container{
    height: 60vh;
    width: 60vh;
    background-color: transparent;
    margin: 50vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 9px;
  
}
.container .buttons{
    display: flex;
    align-items: center;
    gap: 30px;
}
.container .buttons button{
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 15px 46px;
    cursor: pointer;
    
}
.container .buttons button:hover{
    box-shadow: 0 0 10px white;
}
.container .buttons button:first-child{
    background-color: #dd6883;    

}
.container .buttons button:nth-child(2){
    background-color: #deaeb9;
}
.container p{
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container .back-image{
    width: 90%;
    background-color: rgba(233, 226, 226, 0.2);
    backdrop-filter: blur(5px);
    border-left: 4px solid white;
    padding: 10px 10px;
    border-radius: 8px;
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
